Package: gy.nuraad.lobotomy
Name: lobotomy
Version: 6.9
Architecture: iphoneos-arm64
Description: adds lobotomy instead of proprietary and confidential text
Maintainer: nuraad
Author: nuraad
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
